<!-- HEADER NAV BAR -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>{{userService.getLoggedInUserbyId().username}}</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button (click)="items = getItems()" [matMenuTriggerFor]="cartmenu">Cart list</button>
      <button mat-button [matMenuTriggerFor]="menu">Wish list</button>
      <a mat-button (click)="router.navigateByUrl('/home')">Home</a>
      <a mat-button (click)="authService.logout()">Logout</a>
     
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>{{userService.getLoggedInUserbyId().wishListCounter}}</span>
    </button>
  </mat-menu>

  <mat-menu #cartmenu="matMenu">
    <div  *ngFor="let item of items">
      <button mat-menu-item>
        <mat-icon><a (click)="remove(item.product.id)"><img style="width:25px;height:25px;background-size: cover;
          " src="https://cdn1.iconfinder.com/data/icons/sharovar-outline/128/Delete-512.png"></a></mat-icon>
        <span>{{item.product.name}}</span>
      </button>
    </div>
  </mat-menu>
  
</mat-toolbar-row>


<!-- FOOTER -->