/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    background: rgb(211, 213, 214);
    font-family: 'Open Sans', sans-serif;
}

.mat-toolbar.mat-primary {
    background: #415a74af;
    color: #fff;
  }